/* Mobile CSS */

/* Start of general mobile media queries */
@media (max-width: 820px) { 
    #desktop-menu {
        display: none;
    }

    .mobile-menu-btn-container {
        display: flex;
    }

    .nav-item {
        font-size: 28px;
    }

    .main-container {
        justify-content: unset;
        height: unset;
    }

    .page-content-outer-container {
        align-items: unset;
        min-height: unset;
        max-height: unset;
    }

    .page-content-inner-container {
        flex-direction: column;
        max-height: unset;
        padding: 0px 10px;
        margin-bottom: 50px;
        max-width: unset;
    }

    .right-side-container {
        row-gap: 30px;
    }
}

/* End of general mobile media queries */