/* Mobile CSS */

/* Start of page-specific mobile media queries */
@media (max-width: 1100px){
    .page-content-inner-container {
        max-width: 80vw;
        column-gap: 100px;
    }

    .homepage-headline {
        font-size: 65px;
    }

    .subheader {
        font-size: 20px;
    }

    .my-photo {
        min-width: unset;
    }
}

@media (max-width: 820px) {
    .page-content-outer-container {
        padding-top: 10px;
    }

    .page-content-inner-container {
        row-gap: 55px;
        max-width: unset;
    }

    .my-photo {
        min-width: unset;
    }
}

@media (max-width: 425px) {
    .homepage-headline {
        font-size: 85px;
    }
}
/* End of page-specific mobile media queries */