/* Desktop CSS */

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

/* Start of menu css */

.mobile-menu-btn-container {
    display: none;
    margin: 20px;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-button {
    width: 58px;
    height: 54px;
}

.mobile-menu-outer-container {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    background-color: #f6f6f6;
    top: 80px;
}

.mobile-nav-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
    font-size: 35px;
    color: #787878;
    width: auto;
    /* min-height: 100vh; */
    margin: 0px 30px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 85px;
    row-gap: 12px;
}

.desktop-nav-menu-container {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #242424;
    padding: 10px 0px;
    color: #f6f6f6;
}

.nav-item {
    font-size: 17px;
    cursor: pointer;
}

.mobile-nav-item:hover {
    text-decoration: underline;
}

.desktop-nav-item:hover {
    font-weight: 400;
    text-decoration: underline;
}

/* End of menu css */

.page-content-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    row-gap: 60px;
}

.page-content-inner-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    row-gap: 50px;
}

.left-side-container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.subheader-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.subheader {
    font-size: 40px;
    margin-block: 0;
    margin-inline: 0;
    font-weight: bold;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
    max-width: 950px;
}

.description-bold {
    font-size: 24px;
    font-weight: 400;
}

.description-reg {
    font-size: 18px;
    font-weight: normal;
}

.bold-span {
    font-weight: 600;
    color: #577bf9;
}